/*App_buttons_Box*/
.SupperButtons_Box {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 30vw;
    height: 6vw;
    border-radius: 10px;
    border: solid #61dafb;
    margin: 0 0 15px 0;

}
/*butStyle*/
.SupperButtonsStyle {
    width: 3em;
    font-size: 2em;
    font-weight: bold;
    border-radius: .2em;
    background-color: #61dafb;
    margin: auto;
}