/*App_Box*/
.Main_Box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5em;
    width: 35vw;
    height: 25vw;
    border-radius: 10px;
    border: solid #61dafb;
}
/*p_counter*/
.valueBox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #61dafb;
    width: 30vw;
    height: 15vw;
    border-radius: 10px;
    border: solid #61dafb;
    font-size: 5em;
    font-weight: bold;
    margin: auto;
}
/*p_counter-max*/
.valueBox_maxValue {
    color: red;
    border: solid red
}
/*App_buttons_Box*/
.SupperButtons_Box {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 30vw;
    height: 6vw;
    border-radius: 10px;
    border: solid #61dafb;
    margin: 0 0 15px 0;

}
/*butStyle*/
/*.SupperButtonsStyle {
    width: 3em;
    font-size: 2em;
    font-weight: bold;
    border-radius: .2em;
    background-color: #61dafb;
    margin: auto;
}*/
/*app_settings*/
.settingsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #61dafb;
    width: 30vw;
    height: 15vw;
    border-radius: 10px;
    border: solid #61dafb;
    /*font-size: 5em;*/
    /*font-weight: bold;*/
    margin: auto;
}


