.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  background-color: #282c34;
}
.app-count {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5em;
  width: 30vw;
  height: 25vw;
  border-radius: .5em;
  border: solid #61dafb;
}
.p-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #61dafb;
  width: 25vw;
  height: 5em;
  border-radius: .3em;
  font-size: 45px;
  font-weight: bold;
  border: solid #61dafb;
  margin: auto;
}

.p-counter-max {
  color: red;
  border: solid red
}

.buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 25vw;
  height: 5vw;
  border-radius: .3em;
  margin: 0 10px 25px 10px;
  border: solid #61dafb;

}

.butStyle {
  width: 5em;
  height: 2em;
  font-size: 25px;
  font-weight: bold;
  border-radius: .3em;
  background-color: #61dafb;
  margin: auto;
}
